/**************************
*
*	GENERAL
*
**************************/
.slider{
    margin: 0;
    margin: 0 auto;
    height: 230px !important;
    overflow: hidden;
}


.camera_wrap img, 
.camera_wrap ol, .camera_wrap ul, .camera_wrap li,
.camera_wrap table, .camera_wrap tbody, .camera_wrap tfoot, .camera_wrap thead, .camera_wrap tr, .camera_wrap th, .camera_wrap td
.camera_thumbs_wrap a, .camera_thumbs_wrap img, 
.camera_thumbs_wrap ol, .camera_thumbs_wrap ul, .camera_thumbs_wrap li,
.camera_thumbs_wrap table, .camera_thumbs_wrap tbody, .camera_thumbs_wrap tfoot, .camera_thumbs_wrap thead, .camera_thumbs_wrap tr, .camera_thumbs_wrap th, .camera_thumbs_wrap td {
	background: none;
	border: 0;
	font: inherit;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	list-style: none
}
.camera_wrap {
	display: none;
	float: none;
	position: relative;
    height: 230px !important;
	z-index: 2;
}
.camera_wrap img {
	max-width: none !important;
}
.camera_fakehover {
	height: 100%;
	min-height: 40px;
	position: relative;
	width: 100%;
	z-index: 1;
}

.camera_src {
	display: none;
}
.cameraCont, .cameraContents {
	height: 100%;
	position: relative;
	width: 100%;
	z-index: 1;	
}
.cameraSlide {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}

.camera_target {
	bottom: 0;
	height: 100%;
	left: 0;
	position: absolute;
	right: 0;
	text-align: left;
	top: 0;
	width: 100%;
	z-index: 0;
}
.camera_overlayer {
	bottom: 0;
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 0;
}
.camera_target_content {
	bottom: 0;
	left: 0;
	overflow: visible;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;
}
.cameraContent {
	bottom: 0;
	display: none;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}


/*-----------------------------------*/
.camera_caption{
    text-align: center;
    position:absolute;
    padding: 0;
    display:block;
    width: 920px;
    margin-top: 57px;
    
}
.camera_caption p{
    text-align: left;
    color: #252525;
    font-family: 'Roboto', cursive;
    font-size: 76px;
    line-height: 65px;
    font-weight: normal;  
    margin-bottom: 0;
    letter-spacing: 0;
}

/*--------------------*/
.camera_loader {
    background: #252525 url(../images/camera-loader.gif) no-repeat center;
	border:none;
	border-radius: 500px;
	height: 36px;
	left: 50%;
	overflow: hidden;
	position: absolute;
	margin: -18px 0 0 -18px;
	top: 50%;
	width: 36px;
	z-index: 3;
}
.camera_clear {
	display: block;
	clear: both;
}
.showIt {
	display: none;
}
.camera_clear {
	clear: both;
	display: block;
	height: 1px;
	margin: 0px;
	position: relative;
}
/*
.camera_prev,
.camera_next {
  cursor: pointer;
  height: 47px;
  position: absolute;
  width: 47px;
  z-index: 2;
 bottom: -24px;
 margin-top:-24px
}
.camera_prev {
  left: 50%;
  margin-left: -48px;
}
.camera_next {
  right: 50%;
  margin-right: -48px;
}
.camera_prev > span,
.camera_next > span {
  display: block;
  height: 47px;
  width: 47px;
  border-radius: 40px;
}
.camera_prev:hover > span {
  background-position: right 0;
}
.camera_next:hover > span {
  background-position: right 0;
}
.camera_next > span {
  background: url(../images/camnext.jpg) no-repeat left 0;
}
.camera_prev > span {
  background: url(../images/camprev.jpg) no-repeat left 0;
}
*/
.camera_pag{
    position: relative;
	list-style: none;
    top: -62px;
    width: 100px;
    left: 617px;
	padding: 0;
	text-align: center;
}
.camera_pag .camera_pag_ul {
	list-style: none;
    margin: 0;
	padding: 0;
	text-align: center;
	display: none;
}
.camera_wrap .camera_pag .camera_pag_ul li {
	cursor: pointer;
	display: inline-block;
	height: 14px;
	width: 14px;
	margin:  0 3px;
	position: relative;
	text-align: center;
    box-shadow: none;
}
.camera_wrap .camera_pag .camera_pag_ul li span span {	position: relative;
	display: none;
	height: 14px;
	width: 14px;
	margin:  0 3px;
	position: relative;
	text-align: center;
}

.camera_wrap .camera_pag .camera_pag_ul li {
	height: 14px;
	width: 14px;
	overflow: hidden;
	position: absolute;
    background: url(../images/pagimg.png) center top no-repeat;
}
.camera_pag .camera_pag_ul li:hover {
    background:  url(../images/pagimg.png) center bottom no-repeat;

}
.camera_wrap .camera_pag .camera_pag_ul li.cameracurrent {
    background:  url(../images/pagimg.png) center bottom no-repeat;
}





 @media only screen and (min-width: 1200px) {
	.camera_wrap,
	.slider {
        height: 230px !important;
        margin-bottom: 0 !important;
    } 
    
    .camera_caption{
        width: 980px;
        margin-top: 57px;
    }
    .camera_caption p{
        font-size: 64px;
    line-height: 77px;
    }
    
    .camera_pag {
        position: relative;
        list-style: none;
        left: 732px;
        top: -31px;
        padding: 0;
        text-align: center;
    }
	 
}
	 
@media only screen and (min-width: 768px) and (max-width: 991px) {
		.camera_wrap,.slider  {
        height: 230px !important;
            margin-bottom: 0 !important;
        } 
        

    .camera_caption{
        width: 650px;
        margin-top: 57px;
    }
    .camera_caption p{
        font-size: 62px;
        line-height: 55px;
    }
    
    .camera_pag {
        position: relative;
        list-style: none;
        left: 495px;
        top: -83px;
        padding: 0;
        text-align: center;
    }	  
		  
 }
 
 
 @media only screen and (max-width: 767px) {
	.camera_wrap,
	.slider {
        margin-bottom: 0 !important;
        width: auto;
    } 
    
    .camera_caption{
        width: auto;
        margin-top: 30px;
    }
    .camera_caption p{
        text-align: center;
        font-size: 50px;
        line-height: 42px;
    }
    
    .camera_pag {
        position: relative;
        list-style: none;
        width: 100%;
        left: 0;
        bottom: 0;
        padding: 0;
        text-align: center;
    }		
	
} 
	 
	
   @media only screen and (max-width: 480px) {
    
	.camera_wrap,
	.slider {
	    height: 260px !important;
        margin-bottom: 0 !important;
        width: auto;
    } 
    
    .camera_caption{
        width: auto;
        margin-top: 30px;
    }
    .camera_caption p{
        text-align: center;
        font-size: 48px;
        line-height: 40px;
    }
    
    .camera_pag {
        position: relative;
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    
	   
}


   @media only screen and (max-width: 360px) {
    
	.camera_wrap,
	.slider {
	    height: 260px !important;
        margin-bottom: 0 !important;
        width: auto;
    } 
    
    .camera_caption{
        width: auto;
        margin-top: 30px;
    }
    .camera_caption p{
        text-align: center;
        font-size: 44px;
        line-height: 38px;
    }
    
    .camera_pag {
        position: relative;
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    
	   
}